{% extends "todo/base.html" %}

{% block header %}
<h1>ログイン</h1>
{% endblock header %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}

    <div class="mb-3">
        <label for="id_username" class="form-label">ユーザー名</label>
        <input type="text" name="username" id="id_username" class="form-control"value="{{ form.username.value }}">
        {% for error in form.username.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="id_password" class="form-label">パスワード</label>
        <input type="password" name="password" id="id_password" class="form-control">
        {% for error in form.password.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">ログイン</button>
</form>
{% endblock content %}
